<a href="https://colab.research.google.com/github/22pa5a6105/dwm-lab1/blob/main/apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Document from Lakshmi sudhakar")
data

                          Products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [ ]:
data= list(data["Products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [ ]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
te_data

data=pd.DataFrame(te_data,columns=te.columns_)
data.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True

In [ ]:
from mlxtend import frequent_patterns
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data,min_support=0.2, use_colnames=True)
frequent_itemsets

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (BREAD, MILK)
11     0.20        (BREAD, SUGER)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (SUGER, COFFEE)
15     0.20          (MAGGI, TEA)

In [ ]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(MILK),(BREAD),0.25,0.65,0.2,0.8,1.230769,0.0375,1.75
1,(MAGGI),(TEA),0.25,0.35,0.2,0.8,2.285714,0.1125,3.25

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Document from Lakshmi sudhakar")
data

  list of item_ids
0         i1,i2,i5
1            i2,i4
2            i2,i3
3         i1,i2,i4
4            i1,i3
5            i2,i3
6            i1,i3
7      i1,i2,i3,i5
8      i1,i2,i3,i5

In [ ]:
data= list(data["list of item_ids"].apply(lambda x:x.split(',')))
data

[['i1', 'i2', 'i5'],
 ['i2', 'i4'],
 ['i2', 'i3'],
 ['i1', 'i2', 'i4'],
 ['i1', 'i3'],
 ['i2', 'i3'],
 ['i1', 'i3'],
 ['i1', 'i2', 'i3', 'i5'],
 ['i1', 'i2', 'i3', 'i5']]

In [ ]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
te_data

data=pd.DataFrame(te_data,columns=te.columns_)
data.head()

      i1     i2     i3     i4     i5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False

In [ ]:
from mlxtend import frequent_patterns
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data,min_support=0.2, use_colnames=True)
frequent_itemsets

     support          itemsets
0   0.666667              (i1)
1   0.777778              (i2)
2   0.666667              (i3)
3   0.222222              (i4)
4   0.333333              (i5)
5   0.444444          (i2, i1)
6   0.444444          (i3, i1)
7   0.333333          (i5, i1)
8   0.444444          (i3, i2)
9   0.222222          (i4, i2)
10  0.333333          (i5, i2)
11  0.222222          (i3, i5)
12  0.222222      (i3, i2, i1)
13  0.333333      (i2, i5, i1)
14  0.222222      (i3, i5, i1)
15  0.222222      (i3, i5, i2)
16  0.222222  (i3, i2, i5, i1)

In [ ]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(i5),(i1),0.333333,0.666667,0.333333,1.00,1.500000,0.111111,inf
1,(i4),(i2),0.222222,0.777778,0.222222,1.00,1.285714,0.049383,inf
2,(i5),(i2),0.333333,0.777778,0.333333,1.00,1.285714,0.074074,inf
3,"(i5, i2)",(i1),0.333333,0.666667,0.333333,1.00,1.500000,0.111111,inf
4,"(i1, i2)",(i5),0.444444,0.333333,0.333333,0.75,2.250000,0.185185,2.666667
5,"(i5, i1)",(i2),0.333333,0.777778,0.333333,1.00,1.285714,0.074074,inf
6,(i5),"(i1, i2)",0.333333,0.444444,0.333333,1.00,2.250000,0.185185,inf
7,"(i3, i5)",(i1),0.222222,0.666667,0.222222,1.00,1.500000,0.074074,inf
8,"(i3, i5)",(i2),0.222222,0.777778,0.222222,1.00,1.285714,0.049383,inf
9,"(i3, i5, i2)",(i1),0.222222,0.666667,0.222222,1.00,1.500000,0.074074,inf
10,"(i3, i1, i2)",(i5),0.222222,0.333333,0.222222,1.00,3.000000,0.148148,inf
11,"(i3, i5, i1)",(i2),0.222222,0.777778,0.222222,1.00,1.285714,0.049383,inf
12,"(i3, i5)","(i1, i2)",0.222222,0.444444,0.222222,1.00,2.250000,0.123457,inf